{% extends "base.html.twig" %}

{% block title %}About me{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-1">
            <h1 class="title">Emil Svedrin</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <img src="{{ asset("img/minStudent.jpg") }}" alt="Bild på mig">
        </div>
        <div class="col-2">
            <p>
                Sjo jag heter Emil och har precis börjat på BTH som webbprogramerare och detta
                är en simpel presentation på mig
            </p>
            <p>
                Mitt namn är som sagt Emil Svedrin. Jag föddes 2002 i kalmar och har bott på Öland en
                stor del av mitt liv. När jag skulle börja 5:an så bestämde sig mina föräldrar att till
                Spanien där min mamma fick ett jobb på en skandinavisk skola där jag gick 5:an och 6:an.
                Det var i spanien jag fick intresse i matte vilket drog mitt intresse till programmering.
                Jag kommer in till denna kursen direct från LarsKaggs teknik program med programerings
                inriktning.
            </p>
            <p>
                Programmering har alltid intresserat mig sedan 12-årsåldern och min första dator var en 
                HP-laptop jag fick utav skolan. 
            </p>
            <p>
                Jag har haft en hel del hobbies genom åren men det är en ut av dem som fortfarande håller
                starkt, vilket är star wars. När jag gick på låg och mellanstadiet så lekte jag och mina
                kompisar nästan alltid star wars på rasterna. Idag leker jag kanske inte längre
                (åtminstånde när jag inte är själv) men intresset växt åt andra håll istället. Ett exempel
                är att jag lärde mig star wars bokstaveringsalfabetet aurebesh utantill. Jag tränade också
                lightsaber combat form I shii-cho (way of the sarlacc), smat är jag endligt mig själv väldigt
                påläst i historian.
            </p>

        </div>
    </div>
{% endblock %}
