{% extends "base.html.twig" %}

{% block title %}Redovisningar{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-1">
            <h1 class="title">redovisningar</h1>
        </div>
    </div>

    <div class="row-gap">
        <div class="col-2">
            <div class="presentationDiv">
                <h2 class="title">kmom01</h2>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
            </div>
        </div>
        <div class="col-2">
        <div class="presentationDiv">
                <h2 class="title">kmom02</h2>
                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>
            </div>
        </div>
    </div>

    <div class="row-gap">
        <div class="col-2">
        <div class="presentationDiv">
                <h2 class="title">kmom03</h2>
                
                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>
            </div>
        </div>
        <div class="col-2">
        <div class="presentationDiv">
                <h2 class="title">kmom04</h2>
                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                     
                </p>

                <p class="presentationText">
                    
                </p>

                <p class="presentationText">
                    
                </p>
            </div>
        </div>
    </div>

    <div class="row-gap">
        <div class="col-2">
        <div class="presentationDiv">
                <h2 class="title">kmom05</h2>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
            </div>
        </div>
        <div class="col-2">
        <div class="presentationDiv">
                <h2 class="title">kmom06</h2>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">      
                    
                </p>
                <p class="presentationText">      
                    
                </p>
            </div>
        </div>
    </div>

    <div class="row-gap">
        <div class="col-1">
            <div class="presentationDiv">
                <h2 class="title">kmom10</h2>
                <h3 class="title">Test 1 tipsrunda</h3>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
                <p class="presentationText">
                    
                </p>
            </div>
        </div>
    </div>
{% endblock %}
